/*
Error: Invalid mixin "======".
        on line 160 of C:\Users\alexm\Desktop\code\GetTheBasics\sass\gtb.sass

155: #table50 table
156:   width: 50%
157: 
158: <<<<<<< HEAD
159: 
160: =======
161: .center
162:   display: block
163:   margin-left: auto
164:   margin-right: auto
165: >>>>>>> 40b97c1666273d471ccdeb8da5d1cfa6f82adef7

Backtrace:
C:\Users\alexm\Desktop\code\GetTheBasics\sass\gtb.sass:160
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:1070:in `parse_mixin_definition'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:639:in `parse_line'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:525:in `build_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:544:in `block in append_children'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:543:in `each'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:543:in `append_children'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:396:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:18:in `load'
C:/Program Files (x86)/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid mixin \"======\".\A         on line 160 of C:\Users\alexm\Desktop\code\GetTheBasics\sass\gtb.sass\A \A 155: #table50 table\A 156:   width: 50%\A 157: \A 158: <<<<<<< HEAD\A 159: \A 160: =======\A 161: .center\A 162:   display: block\A 163:   margin-left: auto\A 164:   margin-right: auto\A 165: >>>>>>> 40b97c1666273d471ccdeb8da5d1cfa6f82adef7"; }
