@import url(https://fonts.googleapis.com/css?family=Raleway)

.btn-gtb
  margin-top: 10px
  text-align: center
  height: 30px
  color: black
  -moz-border-radius: 30px
  -webkit-border-radius: 50px

.standard
  background-color: aqua
  border: 5px solid rgb(24, 123, 126)
  margin-left: -3px

.standard:active
  background-color: rgb(24, 123, 126)
  border: 5px solid aqua
  color: white

.good
  background: lightgreen
  border: 5px solid green
  margin-left: -5px

.good:active
  background: green
  border: 5px solid lightgreen
  color: white

.warning
  background: rgb(255, 237, 0)
  border: 5px solid rgb(204, 215, 0)
  margin-left: -5px

.warning:active
  background: rgb(204, 215, 0)
  border: 5px solid rgb(255, 237, 0)
  color: black

.bad
  background: orange
  border: 5px solid rgb(172, 98, 0)
  margin-left: -5px

.bad:active
  background: rgb(172, 98, 0)
  border: 5px solid orange
  color: white

.danger
  background: red
  border: 5px solid rgb(125, 0, 0)
  margin-left: -5px

.danger:active
  background: rgb(125, 0, 0)
  border: 5px solid red
  color: white

.btn-flt
  margin-left: -7px

.header
  padding-top: 20px
  padding-left: 15%

  margin-top: 50px
  margin-left: 50px

  width: 50%
  height: 200px

  background-color: rgb(198, 198, 198)
  color: white

.mover
  margin-left: 8px

.container
  font-family: Raleway

.header h2, h3, h4, h5, h6
  margin-left: 50px


.a-gtb
  text-decoration: none
  color: blue

.standard-gtb
  color: rgb(0, 177, 189)

.standard-gtb:active
  color: rgb(0, 127, 131)


.good-gtb
  color: green


.good-gtb:active
  color: lightgreen

.warning-gtb
  color: rgb(215, 200, 0)

.warning-gtb:active
  color: rgb(167, 176, 0)

.bad-gtb
  color: orange

.bad-gtb:active
  color: rgb(172, 98, 0)

.danger-gtb
  color: red

.danger-gtb:active
  color: rgb(125, 0, 0)

#table h1
  color: rgb(0, 219, 195)

#table h2
  color: rgb(0, 219, 195)

#table h3
  color: rgb(0, 219, 195)



#table100 h1
  color: rgb(0, 219, 195)

#table100 h2
  color: rgb(0, 219, 195)

#table100 h3
  color: rgb(0, 219, 195)

#table100 table
  width: 100%

#table50 h1
  color: rgb(0, 219, 195)

#table50 h2
  color: rgb(0, 219, 195)

#table50 h3
  color: rgb(0, 219, 195)

#table50 table
  width: 50%


